:root{
	--body-background-color: #ececec;
	--basic-font-color-dark: #222222;
	--social-icons-color: #36454F;
	--social-icons-color-hover: #222222;
}

body {
	font-family: "Open Sans", sans-serif;
	color: var(--basic-font-color-dark);
	background-color: var(--body-background-color);
}

img{
	height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto", sans-serif;
}

.custom-navbar{
	box-shadow: 5px 1px 43px lightgrey;
	padding: 12px;
}

.profile-images{
	gap: -10px;
}

.profile-images img{
	width: 150px;
	border-radius: 50%;
	margin-left: -18px;
	margin-right: -18px;
	box-shadow: 2px 2px 20px lightgray;
	border: 1px solid gray;
}

.profile-images .featured-image{
	z-index: 9;
	width: 200px;
}

.content .name{
	font-size: 4rem;
	font-weight: bolder;
}

.content .social-icons{
	margin-top: 27px;
}

.content .social-icons a{
	color: var(--social-icons-color);
	font-size: 40px;
	margin-left: 6px;
	margin-right: 6px;
	transition: ease 0.3s;
}

.content .social-icons a:hover{
	color: var(--social-icons-color-hover);
}
