:root{
	--body-background-color: #ececec;
	--basic-font-color-dark: #222222;
	--social-icons-color: #36454F;
	--social-icons-color-hover: #222222;
	--info-color: #8cbfda;
	--section-margin-top: 120px;
	--max-section-width: 810px;
}

body {
	font-family: "Open Sans", sans-serif;
	color: var(--basic-font-color-dark);
	background-color: var(--body-background-color);
}

/* Common styles for all the sections except the hero section */
section:not(#hero-section) {
	max-width: var(--max-section-width);
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--section-margin-top);
	margin-bottom: 30px;
}

img{
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto", sans-serif;
}

/* ************************************* 
	Navbar
 *************************************** */

.custom-navbar{
	box-shadow: 5px 1px 43px lightgrey;
	padding: 12px;
}

.custom-navbar .navbar-brand img{
	border-radius: 50%;
}


/* ************************************* 
	Hero Sections
 *************************************** */

.profile-images{
	gap: -10px;
}

.profile-images img{
	width: 150px;
	border-radius: 50%;
	margin-left: -18px;
	margin-right: -18px;
	box-shadow: 2px 2px 20px lightgray;
	border: 1px solid gray;
}

.profile-images .featured-image{
	z-index: 9;
	width: 200px;
}

.content .name{
	font-size: 4rem;
	font-weight: bolder;
}

.content .social-icons{
	margin-top: 27px;
}

.content .social-icons a{
	color: var(--social-icons-color);
	font-size: 40px;
	margin-left: 6px;
	margin-right: 6px;
	transition: ease 0.3s;
}

.content .social-icons a:hover{
	color: var(--social-icons-color-hover);
}

/* ************************************* 
	Work Experience
 *************************************** */

/* #work-experience{
	
} */

.work-experience-nav button{
	border: none;
	color: var(--basic-font-color-dark);
	border-left: 2px solid #bdbdbd;
	transition: ease-in 0.3s all;
	background-color: var(--body-background-color);
}

.work-experience-nav button.active{
	color: black;
	border-left: 2px solid black;
	background-color: #adadadad;
}

.work-experience-nav button:hover:not(.active){
	background-color: #dddddd;
	color: #333333;
}

.work-experience-content .work-time,.work-experience-content .work-location{
	color: var(--info-color);
	font-size: 15px;
	margin-top: -7px;
	font-weight: 400;
	display: block;
}

.work-experience-content .company-info{
	font-size: 14px;
}

.work-experience-content .company-info .work-points-wrapper{
	border-left: 1px dashed gray;
	margin-left: 22px;
}

.work-experience-content .company-info .work-point {
	margin-bottom: 12px;
	margin-left: 18px;
	position: relative;
}

.work-experience-content .company-info .work-point .marking{
	position: absolute;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	left: -31px;
	top: -2px;
	background-color: var(--info-color);
}


/* ************************************* 
	Skills
 *************************************** */

 #skills{
	margin-top: var(--section-margin-top);
 }

 #skills .images-wrapper {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
 }

 #skills .images-wrapper img{
	width: 55px;
 }

 #skills .images-wrapper img.large-image{
	width: 72px;
 }
